// Body
$feather-body-bg: #F3F3F3;
$feather-border: #DBDBDB;

// Fonts-color
$feather-font-gray: #9FA3AD;


//bg
$feather-primary-color: #002D62;
.feather-primary-color {
    background-color: $feather-primary-color;
}
$unadeca-secondary-color: #C0A660;
.feather-secondary-text-color {
    color: $unadeca-secondary-color;
}
$unadeca-card-color: #F9F9F9;


